body{margin: 0;}
#headerWrapper{
    width: 100%;
    height: 44px;
    background-color: white;
}

.headerIcons{
    background-repeat: no-repeat;
    margin-top: 11px;
    /* vertical-align: middle; */
}

#nvidiaIcon{
    margin-left: 2.7%;
    width: 10%;
    background-image: url(nvidiaIcon.png);
    background-size: 7rem;
    float: left;
    height: 50%;
    vertical-align: middle;
    
}

#userIcon{
    background-image: url(userIcon.png);
    height: 50%;
    float: right;
    background-size: 1.4rem;
    width: 4%;
}

#bannerWrapper{
    width: 100%;
    height: 600px;
    background-image: url(RTX2060.jpg);
    background-color: white;
    float:left;
}
.bannerTextWrapper{
    height: 50%;
    width: 30%;
    position: relative;
    top: 10%;
    left: 5%;
    padding: 20px;
}

.greenTextAcent{
    color: #76b900;
    font-family:Helvetica;
    font-size: 28px;
}
.whiteText{
    color: white;
    font-family:Helvetica;
    font-size: 40px;
}
.saibaMaisButton{
    background-color: #76b900;
    border: 10px solid #76b900;
    color: white;
    font-family: Verdana;
    font-weight: bold;
    position: relative;
}
sup{
    font-size: 0.4em;
}