<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
<title>Líder em Computação de Inteligência Artificial | NVIDIA</title>

<head>
    <link rel="icon" href="/images/nvidiaFavIcon.jpg">
    <meta name="description"
        content="Tecnologia de computação visual da NVIDIA: criadora da GPU, o que gera gráficos interativos em laptops, estações de trabalho, dispositivos móveis, notebooks ..." />
</head>

<body>
    <h1>Cadastro de usuários</h1>
    <form method="GET" action="">
        <label>Email</label>
        <br>
        <input id="email" type="email">
        
        <br><br>

        <label>Login</label>
        <br>
        <input id="login" type="text">
        
        <br><br>
        
        <label>Senha</label>
        <br>
        <input id="senha" type="password">
        
    </form>

    <br>

    <button onclick="cadastrarUsuario()">Cadastrar</button>
</body>

</html>

<script>

    // TODO: login e email não podem repetir no banco!
    function cadastrarUsuario() {
        if (document.getElementById('login').value.trim() === ""  || 
            document.getElementById('senha').value.trim() === "" || 
            document.getElementById('email').value.trim() === ""){
                alert("Todos os campos devem ser preenchidos para proceder!");
        }
        else {
            alert("Usuário cadastrado com sucesso!");
            window.location.href = "http://localhost:3000/";
        }
    }

</script>