<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
<title>Líder em Computação de Inteligência Artificial | NVIDIA</title>
<head>
    <link rel="icon" href="/images/nvidiaFavIcon.jpg">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta name="description" content="Tecnologia de computação visual da NVIDIA: criadora da GPU, o que gera gráficos interativos em laptops, estações de trabalho, dispositivos móveis, notebooks ..."/>
</head>

<body>
    <script>document.write('Express Bla Bla')</script>


    <button type="button" onclick="window.alert('Alerta'); console.log('Alerta Acionado');">Alerta</button>
</body>

</html>