<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
<title>Líder em Computação de Inteligência Artificial | NVIDIA</title>

<head>
    <link rel="icon" href="/images/nvidiaFavIcon.jpg">
    <meta name="description"
        content="Tecnologia de computação visual da NVIDIA: criadora da GPU, o que gera gráficos interativos em laptops, estações de trabalho, dispositivos móveis, notebooks ..." />
</head>
    
<body>
    <p>[</p>
     {{# each products }}
        <p>{"description": "</p>
        <p>{{this.description}}</p>
        <p>","image" :"</p>
        <p>{{this.image}}</p>
        <p>"},</p>
                
    {{/each}}
    <p>{"description": "RTX 2080 Super","image" :"/images/1562471342202nvidia-geforce-rtx-2080-super.webp"}</p>
    <p>]</p>
</body>

</html>
