<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
<title>Líder em Computação de Inteligência Artificial | NVIDIA</title>

<head>
    <link rel="icon" href="/images/nvidiaFavIcon.jpg">
    <meta name="description"
        content="Tecnologia de computação visual da NVIDIA: criadora da GPU, o que gera gráficos interativos em laptops, estações de trabalho, dispositivos móveis, notebooks ..." />
</head>

<body>
    <p>{
        'description' : 'RTX 2070',
        'image' : '/images/15605292959612070y0.jpeg'
    },
    {
        'description' : 'RTX 2080TI',
        'image' : '/images/15605293142812080.jpeg'
    },
    {
        'description' : 'RTX 2080TI Asus',
        'image' : '/images/15605296464932080tiasus.png'
    },
    {
        'description' : 'Teste Imagem Grande',
        'image' : '/images/1562448642669Captura de tela de 2018-05-14 21-00-50.png'
    },
    {
        'description' : 'RTX 2080 Super',
        'image' : '/images/1562460541481nvidia-geforce-rtx-2080-super.webp'
    }</p>
</body>

</html>
