<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
<title>Líder em Computação de Inteligência Artificial | NVIDIA</title>

<head>
    <link rel="icon" href="../imagens/nvidiaFavIcon.jpg">
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <div id="headerWrapper">
        <div id="nvidiaIcon" class="container headerIcons"></div>
        <div id="userIcon" class="container headerIcons"></div>
    </div>

    <div id="menuBarWrapper">
        <div class="menuItem">DRIVERS <span class="container">▼</span></div>
        <div class="menuItem">PRODUTOS <span class="container">▼</span></div>
        <div class="menuItem">DEEP LEARNING E AI <span class="container">▼</span></div>
        <div class="menuItem">COMUNIDADES <span class="container">▼</span></div>
        <div class="menuItem">SUPORTE</div>
        <div class="menuItem">COMPRAR <span class="container">▼</span></div>
        <div class="menuItem">SOBRE A NVIDIA <span class="container">▼</span></div>
        <a id="menuIcon">&#9776;</a>
    </div>

    <div id="bannerWrapper">
        <div id="bannerWrapperText">
            <h1>RTX. CHEGOU A HORA.</h1>
            <h2>GEFORCE RTX <sup>™</sup> 2060</h1>
                <span class="container">SAIBA MAIS</span>
        </div>
    </div>

    <div class="centered">
        <h2 class="container">GAMING</h2>
    </div>

</body>

</html>