@font-face {
    font-family: "GeForce";
    src: url(../fonts/Geforce\ Bold.ttf);
}
@font-face {
    font-family: "GeForceLight";
    src: url(../fonts/Geforce\ Light.ttf);
}

body {
    margin: 0;
}

#headerWrapper {
    width: 100%;
    height: 44px;
    background-color: white;
}

.headerIcons {
    position: relative;
    background-repeat: no-repeat;
    height: 50%;
    top: 25%;
    cursor: pointer;
}

#nvidiaIcon {
    width: 10%;
    background-image: url(../imagens/nvidiaIcon.png);
    background-size: 7rem;
    left: 5%;
    float: left;
}

#userIcon {
    width: 2%;
    background-image: url(../imagens/userIcon.png);
    background-size: 1.4rem;
    right: 5%;
    float: right;
}

#menuBar{
    width: 100%;
    height: 45px;
    margin-top: 2%;
    margin-left: 2%;

    background-color: black;
    float: left;
    position: relative;
}

.menuItem{
    float: left;
    margin-left: 2%;
    color: gray;
    font-family: "GeForceLight";
    font-size: 16px;
}

.menuItem:hover{
    color: white;
}

#supportItem:hover{
    color: #76b900;
}

#bannerWrapper {
    overflow: hidden;
    width: 100%;
    height: 550px;
    /* background-image: url(RTX2060.jpg); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* background-color: white; */
    background-color: black;
}

#bannerWrapperText {
    margin: 8% 4.5%;
    position: absolute;
}

#bannerWrapperText h1, #bannerWrapperText h2 {
    margin: 0 auto;
    font-family: "GeForce";
}

#bannerWrapperText h1 {
    font-size: 54px;
    color: white;
}

#bannerWrapperText h2 {
    font-size: 31px;
    padding-bottom: 6%;
    color: #76b900;
}

#bannerWrapperText span{
    position: relative;
    border: 10px solid #76b900;
    background-color: #76b900;
    /* border-right-width: 10px; */
    color: white;
    font-family: "GeForce";
    font-weight: bold;
    cursor: pointer;
}
#bannerWrapperText span:hover{
    background-color: #88d601;
    border: 10px solid #88d601;

}

sup {
    margin-left: -1.5%;
    font-size: 0.5em;
}

#bannerWrapper img {
    display: block;
    width: 50%;
    height: 560px;
    margin-right: auto;
    margin-left: auto;
}

#finalText {
    position: relative;
    top: 1vw;
}

#finalText h2 {
    width: 100%;
    color: #76b900;
    font-size: 30px;
    text-align: center;
    font-family: "GeForceLight";
    font-weight: lighter;
}